$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  float: left;
  font-size: 1.7em;
  color : #ffad18 ;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

.jumbotron
{
  background-image: asset_url('cover-img2.jpg');
  background-size: cover;
  height: 300px;
}

.cen-img
{
  background-image: asset_url('cover-img3.jpg');
  background-size: cover;
  height: 300px;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
}

.center
{
  text-align: center;
}

.btn-lg
{
  border-color: black;
  background-color: #ffad18;
}
.btn-lg:hover
{
  background-color: #FFC469;
  border-color: black;
  color:black;
}

.btn-xlarge
{
  background-color: #3498DB;
}
.btn-xlarge:hover
{
  background-color: #337ab7;
  border-color: #4A235A;
}
.inner
{
  background-color: black;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  height: 40px;
}
