<footer class="mastfoot mt-auto">
  <div class="inner" style="padding-top:10px;">
    <p style="color: white">Cover template for <a href="https://getbootstrap.com/" style="color:#ffad18;">Bootstrap</a>, by <a href="https://twitter.com/mdo" style="color:#ffad18;">@mdo</a>.</p>
  </div>
</footer>
